<!DOCTYPE html>
<html>
<style>
p {
  color: white;
}
</style>
<head>
  <meta charset = "utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <link rel="stylesheet" href="{% static "/styles.css" %}">
  <title>Classrooms</title>
</head>
<body>
  {% include 'navbar.html' %}

  <h2>Your classrooms</h2>
  <div><h3>Joined classes</h3><a class = "link" href = /accounts/join>Manage</a></div>
  {% csrf_token %}

  {% with created_class=created %}
  {% with classes=classrooms %}

    {% for c in classes %}
      {% if c not in created_class %}
        <div style = "padding: 30px 0px;"><a class = "list" href = {{"/accounts/profile/"|add:c}}>{{c}}</a></div>
      {% endif %}
    {% endfor %}
    {% if classes|length == 0 %}
      <div style = "padding: 30px 0px;"><a class = "msg">There is no classroom you have joined</a></div>
    {% endif %}
  {% endwith %}


  <h3>Created classes</h3>
  {% for c in created_class %}
    <div style = "padding: 30px 0px;"><a class = "list" href = {{"/accounts/profile/"|add:c}}>{{c}}</a></div>
  {% endfor %}
  {% if created_class|length == 0 %}
    <div style = "padding: 30px 0px;"><a class = "msg">There is no classroom you have created</a></div>
  {% endif %}
  <div style = "padding: 5px 0px"><a class = "link" href = /accounts/create>create</a></div>
  {% endwith %}

  <div style = "padding: 7px 0px"><a class = "link" href = {{prev}}> back</a></div>

</body>
</html>
