<!DOCTYPE html>
<html>

<head>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
  <meta charset = "utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset = "utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;700&display=swap" rel="stylesheet">
  {% load static %}
  <link rel="stylesheet" href="{% static "/styles.css" %}">
  <title>Classrooms</title>
</head>
<body>
  {% include 'navbar.html' %}
  <h1 style = "font-family: Rajdhani">Your classrooms</h1>
  <div><h2 style = "font-family: Rajdhani">Joined classes</h2><a class = "link" href = /accounts/join>Manage</a></div>
  <div><a> <br></a></div>
  {% csrf_token %}

  {% with created_class=created %}
  {% with classes=classrooms %}

    {% for c in classes %}
      {% if c not in created_class %}
        <div style = "padding: 30px 0px;"><a class = "list" href = {{"/accounts/profile/"|add:c}} style = "font-family: Ubuntu">{{c}}</a></div>
      {% endif %}
    {% endfor %}
    {% if classes|length == 0 %}
      <div style = "padding: 30px 0px;"><a class = "msg">There is no classroom you have joined</a></div>
    {% endif %}
  {% endwith %}


  <h2 style = "font-family: Rajdhani">Created classes</h2>
  {% for c in created_class %}
    <div style = "padding: 30px 0px;"><a class = "list" href = {{"/accounts/profile/"|add:c}} style = "font-family: Ubuntu">{{c}}</a></div>
  {% endfor %}
  {% if created_class|length == 0 %}
    <div style = "padding: 30px 0px;"><a class = "msg">There is no classroom you have created</a></div>
  {% endif %}
  <div style="padding: 1vw 0px"><a class="link" href= /accounts/create>create </a> </div>
  {% endwith %}
  <div><a> <br></a></div>

  <div style="padding: 1vw 0px"><a class="link" href={{prev}}> back</a></div>
  <div style = "padding: 30px 0px;"><a class = 'link' href = /accounts/signout style="background-color: rgb(221, 0, 0); text-decoration: none; color: rgb(255, 255, 255);">Danger zone</a></div>
</body>
</html>
