{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans "Classes" %}{% endblock %}

{% block content %}
{% load static %}

{% include "accounts/man/classrooms_man.html" %}



<h1 style="font-family: Rajdhani">{% trans "Your Classrooms" %}</h1>

<div>
  <h2 style="font-family: Rajdhani">{% trans "Joined classes" %}</h2>
</div>
{% csrf_token %}

{% with created_class=created %}
{% with classes=classrooms %}

{% for c in classes %}
{% if c not in created_class %}
<div style="padding: 30px 0px;"><a class="selection" href={{"/accounts/profile/"|add:c}} style="font-family: Ubuntu">{{c}}</a></div>
{% endif %}
{% endfor %}
{% if classes|length == 0 %}
<div style="padding: 30px 0px;"><a class="msg">{% trans "There is no classroom you have joined" %}</a></div>
{% endif %}
{% endwith %}
<div><a><br><br></a></div>
<a class="link" href= /accounts/join>{% trans "Manage" %} </a> <div><a><br><br></a></div>

<h2 style="font-family: Rajdhani">{% trans "Created classes" %}</h2>
{% for c in created_class %}
<div style="padding: 30px 0px;"><a class="selection" href={{"/accounts/profile/"|add:c}} style="font-family: Ubuntu">{{c}}</a></div>
{% endfor %}
{% if created_class|length == 0 %}
<div style="padding: 30px 0px;"><a class="msg">{% trans "Nothing created" %}</a></div>
{% endif %}

{% endwith %}
<div style="padding: 1vh 0px">
  <div style="padding: 1vw 0px"><a class="link" href= /accounts/create>{% trans "create" %} </a> </div> <div><a> <br></a></div>

</div>

<img onclick="show_settings()" class="hiding_button" id = "gear" style="width: 10vw;height:auto;padding: 0px 0px;max-width:40px;" src="{% static 'logos/plus.png' %}">

<script>
function show_settings() {
  var x = document.getElementById("box");
  var y = document.getElementById("gear");
  if (x.style.display === "none") {
    x.style.display = "block";
    y.src = "{% static 'logos/minus.png' %}";
  } else {
    x.style.display = "none";
    y.src = "{% static 'logos/plus.png' %}";
  }
}
</script>

<div class='ui' style="margin: auto; width: 80vw; display: none;" id = "box">
  <h2>{% trans "User setting" %}</h2>
  <div style="padding: 2vw 0px;"><a class='link' href= /accounts/settings>{% trans "Change user data" %} </a> </div> <div style="padding: 3vw 0px;"><a class='negative_link' href= /accounts/signout>{% trans "Delete account" %}</a></div>
</div>
{% endblock %}
