{% extends 'base.html' %}

{% block title %}home{% endblock %}
{% block content %}
<h1>
Results:
</h1>
{% with grouplist=GROUP %}
{% if grouplist|length == 0 %}
<div style = "padding: 30px 0px;"><a class = "msg">No results</a></div>
{% else %}
<table>
{% for g in grouplist %}
<tr style="background-color: rgb(100, 255, 100);">
  <th class = "table_element">Group {{ forloop.counter }}</th>
{% for member in g %}
<td class = "table_element"> {{member}} </td>
{% endfor %}
</tr>
{% endfor %}
</table>
{% endif %}
{% endwith %}
{% endblock %}
