{% extends 'base.html' %}
{% load static i18n %}

{% block title %}{% trans "Manage" %}{% endblock %}
{% block content %}

<h2>{% trans "Edit permissions" %}</h2>

<a href={{"/accounts/list/"|add:classid|add:"/"}} class="link">{% trans "Joined users" %}</a>

<h3>{% trans "Kick user: " %}</h3>
<form action={{"/accounts/kick/"|add:classid|add:"/"}} method="post">
  {% csrf_token %}
  <input type="text" name = "member2kick">
  <input type="submit" value={% trans "Kick" %} style="background-color: rgb(221 1 0);">
</form>

<div style = "padding: 1em 0em;">
</div>

<a href={{"/accounts/gencode/"|add:classid|add:"/"}} class="link">{% trans "Generate a new class passcode" %}</a>

<div style = "padding: 1em 0em;">
</div>

<form action = {{"/accounts/dangerzone/"|add:classid|add:"/"}} method="post">
  {% csrf_token %}
  <input type="submit" value={% trans "Danger Zone" %} style = "background-color: rgb(221, 0, 0);">
</form>

{% endblock %}
