<!DOCTYPE html>
<html>
<style>
p {
  color: white;
}
</style>
<head>
  <meta charset = "utf-8">
  {% load static %}
  <link rel="stylesheet" href="{% static "/styles.css" %}">
  <title>Available users</title>
</head>
<body>
  {% include 'navbar.html' %}

  <h2>Available users</h2>
  {% csrf_token %}
  {% with users=user %}


    {% for u in users %}
      {% if not u.is_superuser %}
        <div><p class = "list">{{u}}</p></div>
      {% endif %}
    {% endfor %}
  {% endwith %}
  <a href = {{prev}} class = "link">{{"< back"}}</a>

</body>
</html>
