{% extends 'base.html' %}

{% block title %}home{% endblock %}
{% block content %}

<h2>
{{user.username}}'s profile
</h2>

<a href="/accounts/list">available usernames</a>
{% with profile=user.profile %}
<table style="width:50">
<tr style="background-color: rgb(100, 255, 100);">
  <th> favored: </th>
{% for favored in profile.favored %}
  <td style="padding: 14px 16px; overflow: hidden; text-align: center;"><div>{{favored}}</div> </td>
{% endfor %}
</tr>

<tr style="background-color: rgb(255, 100, 100);">
<th> disliked: </th>
{% for dislike in profile.disliked %}
  <td style="padding: 14px 16px; overflow: hidden; text-align: center;"><div>{{dislike}}</div></td>
{% endfor %}
</tr>
</table>
{% endwith %}

<h3>Add data</h3>
<form action = "/accounts/profile/send" method="post">
  {% csrf_token %}
  {{ form }}
  <p>Favored</p>
  <input id="favored" type="text" name="favored">
  <p>Disliked</p>
  <input id="disliked" type="text" name="disliked">
  <p></p>
  <input type="submit" value="OK">
</form>
<h3>Remove data</h3>
<form action = "/accounts/profile/remove" method="post">
  {% csrf_token %}
  {{ form }}
  <p>Favored</p>
  <input id="favored" type="text" name="favored">
  <p>Disliked</p>
  <input id="disliked" type="text" name="disliked">
  <p></p>
  <input type="submit" value="OK">
{% if user.is_authenticated %}

{% if user.is_superuser %}
</form>
<p>Combination grouping algorithm</p>
<form action = "/accounts/compute" method="post">
  {% csrf_token %}
  <input type="submit" value="compute">
</form>
{% endif %}
{% endif %}
{% endblock %}
