{% extends 'base.html' %}

{% block title %}home{% endblock %}
{% block content %}



{% with own=created %}
{% if user.is_authenticated %}

{% if own %}
<h1 style="text-align:center; font-family: Ubuntu;">
{{classid}}
</h1>
<div><h2 style = "font-family: Ubuntu;">Class password: {{passcode}}</h2></div>
<div><a class = "link" href = {{"/accounts/edit/"|add:classid}}>Edit permissions</a></div>
<p style="font-family: Ubuntu;">Joined users</p>
{% if joined_users|length == 0 %}
    <div style = "padding: 30px 0px;"><a class = "msg">No user has joined</a></div>
{% else %}
{% for u in joined_users %}
  {% if not u.is_superuser %}
    <div><p class = "selection">{{u}}</p></div>
  {% endif %}
{% endfor %}
{% endif %}
<p style="font-family: Ubuntu;">Combination grouping algorithm</p>
<form action = {{"/accounts/compute/"|add:classid|add:"/"}} method="post" id = 'form'>
  {% csrf_token %}
    <a style="font-family: Ubuntu;">Group size: </a>
    <div><input id="size" type="text" name="size" style ="width:100px;"></div>
  <input type="submit" value="compute">
  <h3 style="font-family: Ubuntu;">Group filter: (Optional)</h3>
  <div>
    <input type="text" name="src[]" style = "width: 10%;">
    <a> Not with </a>
    <input type="text" name="dst[]" style = "width: 10%;">
  </div>
</form>
<button onclick="add_field()" style="font-family: Ubuntu; padding: 5px 5px;">ADD RULE</button>

<script>
    function add_field(){

        var x = document.getElementById("form");
        // create an input field to insert
        var div = document.createElement("div");
        var src_field = document.createElement("input");
        var mid_text = document.createElement("a");
        var dst_field = document.createElement("input");
        // set input field data type to text
        src_field.setAttribute("type", "text");
        src_field.setAttribute("style", "width: 10%;");
        mid_text.innerText = " Not with ";
        dst_field.setAttribute("type", "text");
        dst_field.setAttribute("style", "width: 10%;");
        // set input field name
        src_field.setAttribute("name", "src[]");
        dst_field.setAttribute("name", "dst[]");
        // select last position to insert element before it
        var pos = x.childElementCount;
        var divpos = div.childElementCount;

        // insert element
        div.insertBefore(src_field, div.childNodes[divpos]);
        var divpos = div.childElementCount;
        div.insertBefore(mid_text, div.childNodes[divpos]);
        var divpos = div.childElementCount;
        div.insertBefore(dst_field, div.childNodes[divpos]);
        var pos = x.childElementCount;
        x.insertBefore(div, x.childNodes[pos+10]);
    }
</script>
{% else %}
<h2>
{{user.username}}'s profile in {{classid}}
</h2>

{% with profile=user.profile %}
<table style="width:50">
<tr style="background-color: rgb(100, 255, 100);">
  <th class = "table_element"> favored: </th>

{% with c=classid %}
{% for f in favored %}
  {% if f.0 == c %}
  {% for inner in f.1 %}
    <td class = "table_element" style = "font-family: Ubuntu;"><div>{{inner}}</div> </td>
  {% endfor %}
  {% endif %}
{% endfor %}
{% endwith %}
</tr>

<tr style="background-color: rgb(255, 100, 100);">
<th class = "table_element"> disliked: </th>
{% with c=classid %}
{% for f in disliked %}
  {% if f.0 == c %}
  {% for inner in f.1 %}
    <td class = "table_element" style = "font-family: Ubuntu;"><div>{{inner}}</div> </td>
  {% endfor %}
  {% endif %}
{% endfor %}
{% endwith %}
</table>
{% endwith %}
<div style = "padding: 10px 2px"><a href={{"/accounts/list/"|add:classid|add:"/"}} class = "link">available usernames</a></div>
<h3>Add data</h3>
<form action = "" method="post">
  {% csrf_token %}
  {{ form }}
  <p>Favored</p>
  <input id="favored" type="text" name="favored">
  <p>Disliked</p>
  <input id="disliked" type="text" name="disliked">
  <input type="submit" value="OK">
</form>
<h3>Remove data</h3>
<form action = "" method="post">
  {% csrf_token %}
  {{ form }}
  <p>Favored</p>
  <input id="rm_favored" type="text" name="rm_favored">
  <p>Disliked</p>
  <input id="rm_disliked" type="text" name="rm_disliked">
  <input type="submit" value="OK">
{% endif %}
{% endif %}
{% endwith %}

{% endblock %}
