{% extends 'base.html' %}
{% load i18n %}

{% block title %}{{classid}}{% endblock %}
{% block content %}



{% with own=created %}
{% if user.is_authenticated %}
<header style="font-size: max(10vw,50px);text-align: center;font-family: Rajdhani;border-style: solid;margin: 1vw 0px;">
    {{classid}}
</header>
{% if own %}
<div>
    <h2 style="font-family: Ubuntu;text-align: center;">{% trans "Class password:" %} {{passcode}}</h2>
</div>
<div><a class = "link" href = {{"/accounts/edit/"|add:classid}}>{% trans "Edit permissions" %}</a></div>
<div style="padding: 5vw 0px"><a href={{"/accounts/list/"|add:classid|add:"/"}} class="link">{% trans "available usernames" %}</a></div>
<h3 style="font-family: Ubuntu;font-size: max(3vw, 25px);">{% trans "Combination selection algorithm" %}</h3>
{% get_current_language as LANGUAGE_CODE %}
<form action = {{"/"|add:LANGUAGE_CODE|add:"/accounts/compute/"|add:classid|add:"/"}} method="post" id = 'form'>
  {% csrf_token %}
    <a style="font-family: Ubuntu;">{% trans "Group size: " %}</a>
    <div><input id="size" type="text" name="size" style="width:100px;"><a> </a><input type="submit" value="{% trans 'compute' %}"></div>
  <h3 style="font-family: Ubuntu;">{% trans "Group filter: (Optional)" %}</h3>
  <div>
    <input type="text" name="src[]" style = "width: 10%;">
    <a>{% trans " Not with " %}</a>
    <input type="text" name="dst[]" style = "width: 10%;">
  </div>
</form>
<button onclick="add_field()" style="font-family: Ubuntu; padding: 1vw 1vw;">{% trans "ADD RULE" %}</button>

<script>
    function add_field(){

        var x = document.getElementById("form");
        // create an input field to insert
        var div = document.createElement("div");
        var src_field = document.createElement("input");
        var mid_text = document.createElement("a");
        var dst_field = document.createElement("input");
        // set input field data type to text
        src_field.setAttribute("type", "text");
        src_field.setAttribute("style", "width: 10%;");
        mid_text.innerText = "{% trans ' Not with ' %}";
        dst_field.setAttribute("type", "text");
        dst_field.setAttribute("style", "width: 10%;");
        // set input field name
        src_field.setAttribute("name", "src[]");
        dst_field.setAttribute("name", "dst[]");
        // select last position to insert element before it
        var pos = x.childElementCount;
        var divpos = div.childElementCount;

        // insert element
        div.insertBefore(src_field, div.childNodes[divpos]);
        var divpos = div.childElementCount;
        div.insertBefore(mid_text, div.childNodes[divpos]);
        var divpos = div.childElementCount;
        div.insertBefore(dst_field, div.childNodes[divpos]);
        var pos = x.childElementCount;
        x.insertBefore(div, x.childNodes[pos+10]);
    }
</script>
{% else %}

{% with profile=user.profile %}
<table style="width:50">
<tr style="background-color: rgb(100, 255, 100);">
  <th class = "table_element">{% trans " favored: " %}</th>

{% with c=classid %}
{% for f in favored %}
  {% if f.0 == c %}
  {% for inner in f.1 %}
    <td class = "table_element" style = "font-family: Ubuntu;"><div>{{inner}}</div> </td>
  {% endfor %}
  {% endif %}
{% endfor %}
{% endwith %}
</tr>

<tr style="background-color: rgb(255, 100, 100);">
<th class = "table_element">{% trans " unfavored: " %}</th>
{% with c=classid %}
{% for f in disliked %}
  {% if f.0 == c %}
  {% for inner in f.1 %}
    <td class = "table_element" style = "font-family: Ubuntu;"><div>{{inner}}</div> </td>
  {% endfor %}
  {% endif %}
{% endfor %}
{% endwith %}
</table>
{% endwith %}
<div style = "padding: 10px 2px"></div>
<div style = "padding: 10px 2px"><a href={{"/accounts/list/"|add:classid|add:"/"}} class = "link">{% trans "available usernames" %}</a></div>
<h3>{% trans "Add data" %} </h3>
<form action = "" method="post">
  {% csrf_token %}
  {{ form }}
  <p>{% trans "Favored" %}</p>
  <input id="favored" type="text" name="favored">
  <p>{% trans "Unfavored" %}</p>
  <input id="disliked" type="text" name="disliked">
  <input type="submit" value="OK">
</form>
<h3>{% trans "Remove data" %}</h3>
<form action = "" method="post">
  {% csrf_token %}
  {{ form }}
  <p>{% trans "Favored" %}</p>
  <input id="rm_favored" type="text" name="rm_favored">
  <p>{% trans "Unfavored" %}</p>
  <input id="rm_disliked" type="text" name="rm_disliked">
  <input type="submit" value="OK">
{% endif %}
{% endif %}
{% endwith %}

{% endblock %}
