<!DOCTYPE html>
<html>

<head>
    <title>My first three.js app</title>'
    <link rel="stylesheet" type="text/css" href="https://csshake.surge.sh/csshake.min.css">
    <script src="https://threejs.org/build/three.js"></script>
    <style>
        #canvas {
        background-color: rgb(255, 255, 255);
        width: 200px;
        height: 200px;
        /* border: 1px solid black; */
        /* margin: 100px; */
        margin-left: auto;
        margin-right: auto;
        padding: 0px;
        position: static; /* fixed or static */
        top: 100px;
        left: 100px;
        }
    </style>
</head>

<body>
    <div id="canvas"></div>
    
    
    <script>
        // 
        var scene = new THREE.Scene();
        var camera = new THREE.PerspectiveCamera(80,1,0.1,10000);

        var renderer = new THREE.WebGLRenderer({antialias: true, alpha:true});
        renderer.setSize(200,200);
        container = document.getElementById( 'canvas' );
        document.body.appendChild( container );
        container.appendChild( renderer.domElement );
        // document.body.appendChild( renderer.domElement );

        var geometry = new THREE.BoxGeometry( 1, 4, 1);
        var material = new THREE.MeshPhongMaterial({
        color : new THREE.Color("rgb(100,255,75)"),
        emissive : new THREE.Color("rgb(50,60,0)"),
        specular : new THREE.Color("rgb(255,155,255)"),
        shininess : 100,
        shading : THREE.FlatShading,
        transparent: 2,
        opacity : 1
        });

        var L1 = new THREE.PointLight( 0xffffff, 1);
        L1.position.z = 100;
        L1.position.y = 100;
        L1.position.x = 100;
        scene.add(L1);
        var cube = new THREE.Mesh( geometry, material );
        var ico = new THREE.Mesh( new THREE.IcosahedronGeometry( 2, 1), material );
        // scene.add( cube );
        scene.add( ico );
        // ico.position.set(0, 3, 0);

        camera.position.z = 5;
        camera.position.y = 0;

        var animate = function () {
        requestAnimationFrame( animate );

        // cube.rotation.y += 0.01;
        ico.rotation.y += 0.005;
        ico.rotation.x += 0.005;
        ico.rotation.z += 0.005;

        renderer.render( scene, camera );
        };

        animate();
    </script>    


</body>

</html>