{% load i18n %}
{% load static %}

<html>
    <head>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100&display=swap" rel="stylesheet">
        <title>{% trans "Oops" %}</title>
    </head>

<body>
    <h1 style = "text-align: center; font-family: 'Noto Sans TC', sans-serif;">{% trans "Sorry! It's not your problem!" %}</h1>
    <img style="display:block;width: 20em;height:auto;margin-left: auto;margin-right: auto;padding: 0px 0px;" src="{% static 'logos/ipluswarning.png' %}">
    <a class = "link" href="/" style = "font-family: 'Noto Sans TC', sans-serif;font-size: 2em;">{% trans "Return to home" %}</a>
</body>
</html>
