{% extends 'base.html' %}

{% block title %}home{% endblock %}
{% block content %}
<style>
.main {
  background-color: rgb(30, 50, 40);
  color: white;
  width:60%;
  padding:0 20px;
  margin-left: auto;
  margin-right: auto;
}

.main p {
  color: white;
  padding: 10px 10px;
}
</style>
<h1 style="font-size: 5vw; text-align: center;">
Creator
</h1>
<div class='main'>
<p>
Designer: Daniel Lee
</p>
<p>
  Engineer: Daniel Lee
</p>
</div>
<h2 style="font-size: 5vw; text-align: center;">The algorithm</h2>
<div class='main'>
<p>The website collects data of favored and unfavored groups from each classroom user
<br>and form a datastructure: [user, [[favored, []], unfavored, []]]
<br>the program calculate the all possibility of grouping of every member in a class</p>
</div>
<h3>Happiness calculating algorithm</h3>
<div class='main'>
<p>In each group, if one person is grouped with his/her favored person, overall happiness of the group +1,
<br>if grouped with unfavored person, overall happiness of the group -1.
<br>The difference of the most happy group and the most unhappy group is measured in every cases,
<br>The algorithm finally randomly select one case with the least happiness difference.
</p>
</div>
{% endblock %}
