{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "About" %}{% endblock %}
{% block content %}
<style>
.main {
  background-color: rgb(200, 200, 200);
  width:90%;
  padding:30px 20px;
  margin-left: auto;
  margin-right: auto;
}
</style>
<div style = "height:10vw;width:20vw;margin-left: auto;margin-right: auto;"></div>
<h1 style="font-size: max(4em, 40px); text-align: center;">
{% trans "Creator" %}
</h1>
<div class='main'>
<a href = 'https://github.com/acezxn/Grouping-optimization' style = "font-size: min(10em, 20px);">Github repository</a>
<h1 style="font-size: max(2.5em, 25px); text-align: center;">
What is the website created for</h1>
<p>
I found a problem in real life grouping algorithms. I noticed that most man-made
grouping algorithms are not optimized. There are these types of algorithms in common:
<br><br>

<b style="font-size: max(1.5em, 20px);">Free grouping:</b><br>
In this case, everyone is allowed to choose their groupmates by themselves.
Since everyone want to be happy, they choose according to their favorites.
However, this caused several groups to be happy while the leftover remainings are unhappy.
<br><br>
<b style="font-size: max(1.5em, 20px);">Randomized group</b><br>
In this case, the happiness of each group is random, and unable to make the unhappiest group happier.
<br><br>
When I was in elementary school, I used to be leftover almost everytime in making groups.
I observed the common grouping algorithms and found weakness of each. Thus, I create this online
app in approach to optimize grouping.
</p>
</div>
<h2 style="font-size: max(4em, 40px); text-align: center;">{% trans "The algorithm" %}</h2>
<div class='main'>
<p style = "font-family: Ubuntu;">{% trans "The website collects data of favored and unfavored groups from each classroom user" %}
<br><br>{% trans "and form a datastructure: {user: [[favored], [unfavored]]}" %}
<br><br>{% trans "the program calculates all possibility of grouping of every member in a class" %}</p>
<h3 style="font-size: max(3vw, 25px);text-align: left;">{% trans "Hapiness calculation" %}</h3>
<p style = "font-family: Ubuntu;">{% trans "In each group, if one person is grouped with his/her favored person, overall happiness of the group +1," %}
<br><br>{% trans "if grouped with unfavored person, overall happiness of the group -1." %}
<br><br>{% trans "The unhappiest group in each case is measured and stored in a list A," %}
<br><br>{% trans "the algorithm finally select the case with greatest corresponding value in list A." %}
</p>
</div>
{% endblock %}
