<!DOCTYPE html>
<html>
<head>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
  <meta charset = "utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;700&display=swap" rel="stylesheet">
  {% load static %}
  <link rel="stylesheet" href='{% static "/styles.css" %}'>
  <title>{% block title %}Grouping Optimization{% endblock %}</title>
</head>
<body>
  {% include 'navbar.html' %}

  {% block content %}
  {% endblock %}
   
</body>
</html>
