{% extends 'base.html' %}

{% block title %}home{% endblock %}
{% block content %}
<header style="font-size: 10vw; text-align: center; font-family: Rajdhani;">
Grouping Optimization
</header>
<p style = "font-family: Ubuntu;">A website with algorithm to assist grouping</p>
<h2 style = "font-family: Ubuntu;">Number of users: {{users}}</h2>
<h3 style = "font-family: Ubuntu;">The website is still in development</h3>
<p style = "font-family: Ubuntu;">The website is no responsible for data loss</p>
{% load static %}
<img src = "{% static 'images/done.png' %}">

<footer>
<marquee>
  this is a good frontend ya
</marquee>
</footer>
{% endblock %}
