{% extends 'base.html' %}

{% load i18n %}
{% block title %}{% trans "home" %}{% endblock %}
{% block content %}
{% load static %}
<header style="font-size: 10vw; text-align: center; font-family: Rajdhani;">
{% trans "Grouping Optimizer" %}
</header>
<p style = "font-family: Ubuntu; text-align: center;">{% trans "A website with algorithm to assist grouping" %}</p>
<h2 style = "font-family: Ubuntu;text-align:center;border: 0.1vw solid;padding: 3vw">{% trans "Number of users:" %} {{users}}</h2>

<h1 style="font-family: Ubuntu;text-align:center;">{% trans "Convenient" %}</h1>
<p style="font-family: Ubuntu;text-align: center;">{% trans "Just input the group size and press a single button, groups can be generated" %}</p>
<h1 style="font-family: Ubuntu;text-align:center;">{% trans "Accurate" %}</h1>
<p style="font-family: Ubuntu;text-align: center;">{% trans "Iterate all conbinations of grouping, and select the favorable results" %}</p>
<h1 style="font-family: Ubuntu;text-align:center;">{% trans "Randomness" %}</h1>
<p style="font-family: Ubuntu;text-align: center;">{% trans "Add variety in generated results" %}</p>
<!-- <img src = "{% static 'images/done.png' %}"> -->
<footer>
  {% get_current_language as LANGUAGE_CODE %}
<p>{{LANGUAGE_CODE}}</p>
</footer>
{% endblock %}
