<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% load i18n %}

<div class="navbar">
  {% load static %}
  <a href="/" style="background-color: rgb(7, 32, 0);" class="logo"><img style="width: 4.5vw;height:auto;padding: 0px 0px;max-width:20px;" src="{% static 'logos/iplusi.png' %}"></a>
  {% if url == "home" %}
  <a class="username" href="/">{%trans "Home" %}</a>
  {% else %}
  <a href="/">{%trans "Home"%}</a>
  {% endif %}
  {% if url == "about" %}
  <a class="username" href="/about">{%trans "About" %}</a>
  {% else %}
  <a href="/about">{%trans "About" %}</a>
  {% endif %}

  {% if user.is_authenticated %}
  {% if url == "accounts" %}
  <a class="username" href="/accounts/profile">{{user.username}}</a>
  {% else %}
  <a href="/accounts/profile">{{user.username}}</a>
  {% endif %}
  <a href="/accounts/logout">{%trans "Logout" %}</a>
  {% else %}
  <a href="/accounts/login">{%trans "Login" %}</a>
  {% if url == "signup" %}
  <a class="username" href="/accounts/signup">{%trans "Sign up" %}</a>
  {% else %}
  <a href="/accounts/signup">{%trans "Sign up" %}</a>
  {% endif %}
  {% endif %}
  <marquee style="color: white; display:block;padding:min(4.5vw, 17px) min(4.5vw, 20px);width: 50%;text-align: center;margin-left: 400px;margin-right: 300px;/* overflow: auto; */position: fixed;font-family:Noto Sans TC; font-size:min(4.5vw, 20px);" id="marquee"></marquee>
  <div class="dropdown" style = "float:right;">
{% get_language_info for LANGUAGE_CODE as lang %}
{% get_current_language as LANGUAGE_CODE %}
<button class="dropbtn">{{lang.name_local}} ({{lang.code}})</button>
<div class="dropdown-content">
  {% get_available_languages as LANGUAGES %}
  {% get_language_info_list for LANGUAGES as languages %}
<i>
  <form action="{% url 'set_language' %}" method="post" id="lang_form">{% csrf_token %}
    {% with len=LANGUAGE_CODE|length|add:1 %}
    {% if len == 8 %}
    <input name="next" type="hidden" value="{{ request.get_full_path|slice:'8:' }}" />
    {% else %}
    <input name="next" type="hidden" value="{{ request.get_full_path|slice:'3:' }}" />
    {% endif %}
    <select name="language" class="form-control" onchange="this.form.submit()"
    style="
    background-color: rgb(50 50 50);
    color: white;
    width: min(30vw, 130px);
    text-align: center;
">
      {% for language in languages %}

      <option value="{{ language.code }}"
          {% if language.code == LANGUAGE_CODE %}selected="selected"{% endif %}>
          {{language.name_translated}}
      </option>

      {% endfor %}
      </select>
    {% endwith %}
</form>
</i>
</div>
</div>

</div>
<style>
.dropdown {
  float: left;
  text-align: center;
  overflow: hidden;
  font-family: Noto Sans TC;
  font-weight: 100;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;padding: min(4.5vw, 17px) 0px;width: min(30vw, 200px);
  font-size: min(4.5vw, 20px);  
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown:hover .dropbtn {
  background-color: rgb(54 255 0);
  color: black;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(255,255,255);
  width: min(30vw, 200px);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content i {
  float: none;
  color: black;
  padding: min(4.5vw, 17px) 10px;
  text-decoration: none;
  display: block;
  text-align: left; 
  background-color: rgb(12, 20, 0);
  border: solid 1px;
  border-color: rgb(54 255 0);
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

</style>


