{% load static i18n %}
<style>

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: rgb(220, 220, 220);
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes resize {
from {color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;font-size: 28px}
to { text-decoration: none;
  font-size: 29px;
  cursor: pointer;}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  text-decoration: none;
  font-size: 29px;
  cursor: pointer;
  animation-name: resize;
  animation-duration: 1s
}

.modal-header {
  padding: 2px 16px;
  background-color: rgb(12, 20, 0);
  color: white;
}

.modal-body {
  padding: 2px 16px;
  max-height: calc(100vh - 55vh);
  overflow-y: auto;
}

.modal-footer {
  padding: 2px 16px;
  background-color: rgb(12, 20, 0);
  color: white;
}
.modal-footer:hover {
  padding: 2px 16px;
  background-color: rgb(1, 79, 0);
  color: white;
}
.help_btn {
  background-color: rgb(1, 79, 0);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: min(30vw, 75px);
  float: right;
  position: fixed;
  text-align: center;
  bottom: 0;
  right: 0;
}

.help_btn:hover {
  background-color: rgb(1, 100, 0);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: min(30vw, 75px);
  float: right;
  position: fixed;
  text-align: center;
  bottom: 0;
  right: 0;
}

p {
  font-family: Ubuntu;
  font-size:min(5vw, 20px);
}

h3 {
  font-family: Ubuntu;
  font-size:min(7vw, 30px);
}
</style>
</head>
<body>
  {% get_current_language as LANGUAGE_CODE %}
  {% get_language_info for LANGUAGE_CODE as lang %}
<!-- Trigger/Open The Modal -->
<button id="myBtn" class='help_btn'>?</button>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h3>{% trans "Guide" %}</h3>
    </div>
    <div class="modal-body">
      {% if LANGUAGE_CODE == 'zh-hant' %}
      <img src = "{% static 'images/man/profile_zh_hant.png' %}" style = "width: 100%; height:auto;">
      {% else %}
      <img src = "{% static 'images/man/profile_en.png' %}" style = "width: 100%; height:auto;">
      {% endif %}
      <p>{% trans "This is a page helping you manage your classrooms, join classrooms as a student, and edit your profile." %}</p>
      <h3>{% trans "How is the classification of student and teacher work?" %}</h3>
      <p>{% trans "As you create a class, you are the teacher in the class." %}</p>
      <p>{% trans "On the other hand, if you join a class, you are a student in the class." %}</p>
      <p><br></p>
    </div>
    <a href = "/about" style = 'text-decoration:none;'>
    <div class="modal-footer">
      <h3>{% trans "About the website" %}</h3>
    </div>
  </a>
  </div>

</div>

<script>
// Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>
