input[type=text], select {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=password], select {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 50%;
  background-color: rgb(50, 100, 50);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

header {
  padding: 20px;
  text-align: center;
  font-size: 10vw;
}
input[type=submit]:hover {
  background-color: rgb(100, 200, 100);
}

button[type=submit] {
  width: 50;
  background-color: rgb(50, 100, 50);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type=submit]:hover {
  background-color: rgb(100, 200, 100);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(10, 20, 100);
}

p {
  color: white;
}
.main {
  background-color: rgb(30, 50, 40);
  color: white;
  width:80%;
  margin-left: auto;
  margin-right: auto;
  padding:0 20px;
}

.main p {
  color: white;
  padding: 10px 10px;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  float:top;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.username {
  background-color: #666;
}
.link {
  font-size: 16px;
  text-align: center;
  padding: 5px 5px;
  text-decoration: none;
  color: white;
  background-color: rgb(10, 10, 10);
  border-radius: 4px;
}
.link:hover {
  background-color: rgb(100, 100, 100);
}
.list {
  background-color: rgb(221, 221, 221);
  padding: 20px 20px;
  border-style: ridge;
  color: black;
  text-decoration: none;
  border-radius: 4px;
}

.msg {
  background-color: rgb(221, 221, 221);
  padding: 20px 20px;
  color: black;
  text-decoration: none;
}

.table_element {
  padding: 14px 16px;
  overflow: hidden;
  text-align: center;
  border-radius: 4px;
}
